h1 {
  font-family: "Liberation Sans", "Helvetica", "Segoe UI", "Verdana";
  font-size: 500%;
}
h2 {
  font-family: "Liberation Sans", "Helvetica", "Segoe UI", "Verdana";
  font-size: 200%;
}
h3 {
  font-family: "Liberation Sans", "Helvetica", "Segoe UI", "Verdana";
  font-size: 110%;
}
p {
  font-family: "Liberation Sans", "Helvetica", "Segoe UI", "Verdana";
  font-size: 100%;
}
